* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

header {
    font-family: EB Garamond;
    font-size: 20px;
    font-weight: bold;
}

.header-font {
    font-family: EB Garamond;
    font-size: 20px;
    font-weight: bold;
}

header a {
    color: rgb(185, 222, 255);
}

header a:hover {
    color: rgb(214, 250, 255);
    text-shadow: 1px 1px 2px rgb(255, 0, 0);
}

.logo {
    transition: 0.5s;
}

.logo:hover {
    font-size: x-large;
    text-shadow: 1px 1px 2px rgb(0, 234, 255);
}

.burger-symbol {
    border: none;
    background-color: transparent;
    color: white;
    font-size: x-large;
    margin-bottom: -2px;
    margin-right: 15px;
}

.burger-menu {
    display: none;
    height: auto;
    z-index: 1000;
    background-color: rgb(26, 30, 33);
    padding: 10px;
    overflow: hidden;
    transition: transform 0.5s ease-out;
    transform: translateY(0);
}

.burger-menu-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.formatHidden {
    display: none !important;
}

.burger-menu-arrow {
    height: 50px;
    background-color: transparent;
    border: none;
    color: white;
}

.burger-menu-secondary-buttons {
    width: 100%;
    height: 40px;
    background-color: transparent;
    font-size: 22px;
    text-align: left;
    padding-left: 20px;
    border: none;
    border-bottom: 1px dotted white;
    color: rgb(187, 187, 187);
    transition: 0.2s;
}

.burger-menu-secondary-buttons:hover {
    color: rgb(132, 132, 132);
}

.formats-menu {
    width: 80%;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    color: white;
    border-bottom: 2px solid white;
    cursor: pointer;
}

.genres {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    display: none;
}

.genre {
    width: 100%;
}

body {
    font-family: EB Garamond;
    height: 1100px;
}

section {
    font-size: x-large;
    font-weight: bold;
}

section a {
    text-decoration: none;
    color: rgb(151, 73, 172);
    transition: 0.2s;
}

section a:hover {
    color: rgb(103, 221, 251);
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

.section-line {
    rotate: 90deg;
    width: 50px;
}

.carousel-color {
    background-color: rgb(0, 0, 0);
}

.faq-header {
    font-weight: bold;
}

.faq-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.faq-question {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    width: 800px;
    height: 40px;
    gap: 20px;
    border: 1px solid rgb(166, 219, 244);
    background-color: rgb(195, 229, 245);
    transition: 0.2s;
}

.faq-question:hover {
    background-color: rgb(163, 220, 247);
}

.faq-answer {
    display: none;
    border: 1px solid rgb(208, 208, 208);
    border-top: none;
    width: 800px;
    font-size: 18px;
    font-weight: 400;
    padding: 5px;
}

.faq-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 40px;
}

.white-text {
    color: white;
}

.headers {
    color: rgb(201, 28, 28);
    margin-top: 50px;
    margin-bottom: 20px;
}

.homepage-image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: monospace;
    background-image: url("img/hellfire.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
    width: 99vw;
    margin-bottom: 40px;
    padding-top: 40px;
    gap: 15px;
}

.homepage-image-box-text {
    color: white;
}

.homepage-image {
    width: 50%;
}

.homepage-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    font-size: 18px;
    margin-bottom: 80px;
}

.formats-top-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-settings {
    width: 20%;
    margin-left: 2%;
}

.bought-wishlist {
    display: flex;
    justify-content: space-between;
    font-size: medium;
    margin-top: 15px;
}

.album-page-outer-container {
    display: flex;
    flex-direction: row;
}

.album-outer-container {
    width: 75%;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 10px;
    margin-left: auto;
    margin-bottom: 3%;
}

.album-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
    background-color: rgb(99, 99, 99);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    height: 500px;
    width: 24%;
}

.album-card-header {
    color: white;
    margin-top: 5px;
    transition: 0.2s;
}

.album-card-header:hover {
    color: rgb(185, 241, 254);
    text-shadow: 1px 1px 2px rgb(255, 0, 0);
}

.album-card-font {
    color: white;
    font-size: medium;
    font-weight: 500;
    margin-bottom: 0rem;
}

.album-card-line {
    width: 80%;
    margin-top: 0rem;
    margin-bottom: 8px;
    border-color: aliceblue;
}

.album-images {
    border-radius: 20px;
    width: 100%;
}

.censored-cover {
    filter: blur(2.5px);
}

.censored-label {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    color: red;
    background-color: black;
    font-size: 36px;
    width: 18%;
    height: 70px;
    margin-top: 100px;
    rotate: 45deg;
    border: 2px solid red;
}

.favourite-album {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: left;
    width: 40px;
    height: 40px;
    margin-left: -205px;
    margin-top: 12px;
    font-size: 21px;
    background-color: rgba(0, 162, 255, 0.86);
    color: rgba(255, 217, 0, 0.87);
    padding: 5px;
    text-align: center;
    border-radius: 50%;
}

.tooltiptext {
    visibility: hidden;
    width: auto;
    font-size: medium;
    font-weight: 500;
    background-color: rgb(60, 60, 60);
    color: #ffffff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgb(60, 60, 60) transparent transparent;
}

.favourite-album:hover .tooltiptext {
    visibility: visible;
}

.list-text {
    font-size: large;
}

.list-text-lps {
    font-size: medium;
}

.list-text:hover {
    color: rgb(81, 81, 81);
    text-shadow: 1px 1px 2px rgb(117, 225, 255);
}

.list-text-lps:hover {
    color: rgb(81, 81, 81);
    text-shadow: 1px 1px 2px rgb(117, 225, 255);
}