* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    font-family: EB Garamond;
    font-size: 20px;
    font-weight: bold;
}

.header-font {
    font-family: EB Garamond;
    font-size: 20px;
    font-weight: bold;
}

header a {
    color: rgb(185, 222, 255);
}

header a:hover {
    color: rgb(214, 250, 255);
    text-shadow: 1px 1px 2px rgb(255, 0, 0);
}

.logo {
    transition: 0.5s;
}

.logo:hover {
    font-size: x-large;
    text-shadow: 1px 1px 2px rgb(0, 234, 255);
}

.burger-symbol {
    border: none;
    background-color: transparent;
    color: white;
    font-size: x-large;
    margin-bottom: -2px;
    margin-right: 15px;
}

.burgerMenu {
    height: auto;
    z-index: 1000;
    background-color: rgb(26, 30, 33);
    padding: 10px;
    overflow: hidden;
    transition: transform 0.5s ease-out;
    transform: translateY(0);
}

.burgerMenuButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.burgerMenuHidden {
    display: none !important;
}

.formatHidden {
    display: none !important;
}

.burgerMenuMainButtons {
    height: 60px;
    background-color: transparent;
    border: none;
    color: white;
}

.burgerMenuSecondaryButtons {
    width: 100%;
    height: 40px;
    background-color: transparent;
    font-size: 22px;
    text-align: left;
    padding-left: 20px;
    border: none;
    border-bottom: 1px dotted white;
    color: rgb(187, 187, 187);
    transition: 0.2s;
}

.burgerMenuSecondaryButtons:hover {
    color: rgb(132, 132, 132);
}

.formatsMenu {
    width: 80%;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    color: white;
    border-bottom: 2px solid white;
}

.genres {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.genre {
    width: 100%;
}

body {
    font-family: EB Garamond;
}

section {
    font-size: x-large;
    font-weight: bold;
}

section a {
    text-decoration: none;
    color: rgb(151, 73, 172);
    transition: 0.2s;
}

section a:hover {
    color: rgb(103, 221, 251);
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

.section-line {
    rotate: 90deg;
    width: 50px;
}

.carousel-color {
    background-color: rgb(0, 0, 0);
}

.white-text {
    color: white;
}

.headers {
    color: brown;
    margin-top: 50px;
    margin-bottom: 20px;
}

.homepage-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.homepage-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 36%;
}

.accordion-settings {
    width: 50%;
    margin-bottom: 25px;
    margin-top: 50px;
}

.accordion-font {
    font-size: large;
    font-weight: 500;
}

.formats-top-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-settings {
    width: 20%;
    margin-left: 2%;
}

.bought-wishlist {
    display: flex;
    justify-content: space-between;
    font-size: medium;
    margin-top: 15px;
}

.album-page-outer-container {
    display: flex;
    flex-direction: row;
}

.album-outer-container {
    width: 75%;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 10px;
    margin-left: auto;
    margin-bottom: 3%;
}

.album-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
    background-color: rgb(99, 99, 99);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    height: 500px;
    width: 24%;
}

.album-card-header {
    color: white;
    margin-top: 5px;
    transition: 0.2s;
}

.album-card-header:hover {
    color: rgb(185, 241, 254);
    text-shadow: 1px 1px 2px rgb(255, 0, 0);
}

.album-card-font {
    color: white;
    font-size: medium;
    font-weight: 500;
    margin-bottom: 0rem;
}

.album-card-line {
    width: 80%;
    margin-top: 0rem;
    margin-bottom: 8px;
    border-color: aliceblue;
}

.album-images {
    border-radius: 20px;
    width: 100%;
}

.censored-cover {
    filter: blur(2.5px);
}

.censored-label {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    color: red;
    background-color: black;
    font-size: 36px;
    width: 18%;
    height: 70px;
    margin-top: 100px;
    rotate: 45deg;
    border: 2px solid red;
}

.favourite-album {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: left;
    width: 40px;
    height: 40px;
    margin-left: -205px;
    margin-top: 12px;
    font-size: 21px;
    background-color: rgba(0, 162, 255, 0.86);
    color: rgba(255, 217, 0, 0.87);
    padding: 5px;
    text-align: center;
    border-radius: 50%;
}

.tooltiptext {
    visibility: hidden;
    width: auto;
    font-size: medium;
    font-weight: 500;
    background-color: rgb(60, 60, 60);
    color: #ffffff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgb(60, 60, 60) transparent transparent;
}

.favourite-album:hover .tooltiptext {
    visibility: visible;
}

.list-text {
    font-size: large;
}

.list-text-lps {
    font-size: medium;
}

.list-text:hover {
    color: rgb(81, 81, 81);
    text-shadow: 1px 1px 2px rgb(117, 225, 255);
}

.list-text-lps:hover {
    color: rgb(81, 81, 81);
    text-shadow: 1px 1px 2px rgb(117, 225, 255);
}